[Unit]
Description=Growatt Server
After=syslog.target network-online.target

[Service]
SyslogIdentifier=growsrv
User=mario
ExecStart=/usr/bin/perl /home/mario/src/Growatt-server/growatt_server.pl --debug=1 --systemd
StandardOutput=syslog
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target